# Simple Null Values Count - MIMIC-III

Count null values per column in admissions and patients tables.

In [9]:
import pandas as pd
import duckdb
import os

In [10]:
# Database connection
# Update this path to your MIMIC-III database location
drive_path = r'H:\My Drive\MIMIC-III'
con = duckdb.connect(f'{drive_path}/mimiciii.duckdb')

In [11]:
# Get null counts for admissions table
admissions_query = """
SELECT 
    COUNT(*) as total_records,
    SUM(CASE WHEN subject_id IS NULL THEN 1 ELSE 0 END) as subject_id_nulls,
    SUM(CASE WHEN hadm_id IS NULL THEN 1 ELSE 0 END) as hadm_id_nulls,
    SUM(CASE WHEN admittime IS NULL THEN 1 ELSE 0 END) as admittime_nulls,
    SUM(CASE WHEN dischtime IS NULL THEN 1 ELSE 0 END) as dischtime_nulls,
    SUM(CASE WHEN admission_type IS NULL THEN 1 ELSE 0 END) as admission_type_nulls,
    SUM(CASE WHEN admission_location IS NULL THEN 1 ELSE 0 END) as admission_location_nulls,
    SUM(CASE WHEN insurance IS NULL THEN 1 ELSE 0 END) as insurance_nulls,
    SUM(CASE WHEN language IS NULL THEN 1 ELSE 0 END) as language_nulls,
    SUM(CASE WHEN religion IS NULL THEN 1 ELSE 0 END) as religion_nulls,
    SUM(CASE WHEN marital_status IS NULL THEN 1 ELSE 0 END) as marital_status_nulls,
    SUM(CASE WHEN ethnicity IS NULL THEN 1 ELSE 0 END) as ethnicity_nulls
FROM admissions;
"""

print("ADMISSIONS TABLE - Null Counts:")
admissions_nulls = con.execute(admissions_query).fetchdf()
admissions_nulls

ADMISSIONS TABLE - Null Counts:

,total_records,subject_id_nulls,hadm_id_nulls,admittime_nulls,dischtime_nulls,admission_type_nulls,admission_location_nulls,insurance_nulls,language_nulls,religion_nulls,marital_status_nulls,ethnicity_nulls
0,58976,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25332.0,458.0,10128.0,0.0

In [12]:
# Get null counts for patients table
patients_query = """
SELECT 
    SUM(CASE WHEN gender IS NULL THEN 1 ELSE 0 END) as gender_nulls,
    SUM(CASE WHEN dob IS NULL THEN 1 ELSE 0 END) as dob_nulls
FROM patients;
"""

print("PATIENTS TABLE - Null Counts:")
patients_nulls = con.execute(patients_query).fetchdf()
patients_nulls

PATIENTS TABLE - Null Counts:

   gender_nulls  dob_nulls
0           0.0        0.0

In [13]:
# Close connection
con.close()